<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Disable Directory listing
    Options -Indexes
    ErrorDocument 403 https://insec.tubankab.go.id/403.html/


    # block files which needs to be hidden // in here specify .example extension of th>
    <Files ~ "\.(env|env.example|config.js|md|gitignore|gitattributes|lock|mix.js|sql)>
        Order allow,deny
        Deny from all
    </Files>
</IfModule>
